
.menu{
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 5px 5px #00000010;
}
.menu-group{
    display: flex;
    justify-content: space-evenly;
}
.menu-label{
    padding: 10px;

}
.menu-link{
    justify-items: center;
    gap: 5px;
}

.menu-photo{
    background: url(image/qr-dark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: var(--width);
    width: var(--width);
    border-radius: 5px;
}
.menu-photo-qr{
    background: #29abe2;
    background-image: url(image/qr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: var(--width);
    width: var(--width);
}
.qr{
    color: #29abe2;
    font-weight: 900;
}
.menu-title{
    font-size: 12px;
}

.menu-label.active .menu-photo{
    background: url(image/qr-blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: var(--width);
    width: var(--width);
    transform: scale(1.2);
}
.menu-label.active .menu-title{
    color: #29abe2;
}
